.DS_Store
.vscode/
.idea/
db/
logs/
cops/_stf_test_macos.so
cops/stf_test.cc
cops/test_io.py
dataset/*.csv
tests/
redisdb/
*.pyc
*.log
**.pyc
**.log
*.xml
runtime.shss
*.swp
qqq/
documents/doc_tmp.key
mtu
cops/inc/
cops/src/
dist/
*.egg-info/
serialize/*
self_test/
